.clrr{color:red}
.objctFitSclDown {object-fit: scale-down;}
.wh9929{min-width: 90px;height: 28px;}
.nearmeCss {border: 1px solid #2e3192; display: inline-block;margin-right: 6px;position: relative;vertical-align: middle;border-radius: 5px;padding: 5px 8px}
