.svgRupIcn {
    background-repeat: no-repeat;
    background-position: center center;
    width: 14px;
    height: 14px;
    margin-top: -1px;
    background-image: url('https://m.imimg.com/gifs/img/svgRupIcn.svg');
}
.mr2{margin-right: 2px;}