.bgcol,.footerBanner,.payx{background-repeat:no-repeat}
.footerBanner{background-image:url('https://m.imimg.com/gifs/footerBanner.png');background-position:right bottom}
.rup{background-position:-183px -301px;margin:0 -1px -3px -3px}
.footerBanner .dwapp{width:65%;padding:16px}
.payxIco{background-position:0 -441px}
.payxsec{background-color:#f7f7f7}
.bdrBlu{border:1px solid #2e3192}
.ordpd10 .footerbanner,.pd6{padding:6px}
i.apdIco{width:22px;height:30px;background-position:-56px 0;margin-right:5px}
.brdL7b {border-left: 1px solid #7b7b7b;}

.apdIco{background-position:-179px -52px}
.fbIco{background-position:-79px -51px}
.twIco{background-image: url(https://m.imimg.com/gifs/img/X_logo.svg); background-size: contain; background-repeat: no-repeat;}
.gpIco{background-position:0 -51px}
.linkInIco{background-position:-2px -188px}
.wh30{width:30px;height:30px}.bgcol{background-size:100% 145px;background-color:#0aa69a}
.payx {width: 40px;height: 43px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAqCAMAAAAOCBKjAAAAt1BMVEUAAAAAppkAppkAppkAppkAppkAppkAppkAppkAppkAppkAppkAppkAppkAppkAppkAnpIAppkAppkAppkAppkAppkAppkAppkAnpIApJcAppkAppkAppkAppkAppkAppkAnpIAppkAppkAppkAppkAppkAppkAppn///8Aq54yuK0Kqp3o9/Y6u7Els6j5/f3j9fRAvbMPrJ+T2dSL19EVrqL0+/vz+/ru+fjW8e9iyMAesKUYrqNUAmdfAAAAJ3RSTlMA9AT78OedFIjj3NWXLB8L+dC3fXptWTX99OzFpINhSv6oj3FnUj4tRWJEAAABMElEQVQ4y63T2XKCMBiG4c+wiiB1AVrX7n+qdqFq9/u/rsIMJUAI8aDvUWZ4+CcZCJq5dAVNCyKasy4x9ChvligFc+kvO2yf4ZokMvyg9jpzgrvrETUb+HHgMMaAVc+yDFJlzCxjCo90mehrTe8kY2nNBXo68nD2T+b8BHOpMMdDutXMed1xvhf7sUhumxF+EGf3Wqa8ZGRT+RZz8ejrKKYIQn2My/WOv3/npJhSNoBdrp85f/uRCY0xLddPGfpIPzPySNVsrEkgniURijAkqk6SCd0DoypqIWYI+FRps0+p0RjAmrqLAGj+VsPJzaTT2MhzzC4TALpBNooGSmI6KEqUJkbZrYK4qLRsJQvUmqj3K4olMoXUsH46K0FbkSHtVi5cFrfNd6COrUbk3YSo9QvMsqWXYG8OdAAAAABJRU5ErkJggg==);
}
.jcse{justify-content: space-evenly;}
.pd5{ padding: 5px;}