.multiElipsis,.oh{overflow:hidden}.w47{width:47%}
.cardDiv{display:flex;flex-direction:column}
.mnht158{min-height:158px}.pdl138{padding-left:138px}
.pdl5{padding-left:5px}.pdr5{padding-right:5px}
.br10,.bxrd10.brd10{border-radius:10px}.pdb15{padding-bottom:15px}.pdb3{padding-bottom : 3px}
.mb10{margin-bottom:10px}.wr{word-wrap:break-word}
.multiElipsis{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis}
.maxh40{max-height:40px}.fwn{font-weight:400}
.clgrey{color:#595959}.mnht40p{min-height:40%}
.brdL7b{border-left:1px solid #7b7b7b}
.mcatIcon{background-image:url(https://m.imimg.com/gifs/img/mcat_sprite_v5.png)!important;background-repeat:no-repeat}
.ht46{height:46px}.ht52{height:52px}
.lh24{line-height:24px}.brd40{border-radius:40px}
.mcat_ctIco2{content:"";position:absolute;width:15px;height:15px;top:3px;left:-15px;background-position:-111px -9px;margin:0 5px 0 0}
.htauto{height:auto}.w60px{width:60px}
.w36{width:36%}.w57{width:57%}
.buyicn{background-image:url("https://m.imimg.com/gifs/img/buyicn.svg")}
.pdb14{padding-bottom:14px}.pdr14{padding-right:14px} .pdb20{padding-bottom: 20px;}
.objectFitFill{object-fit:fill}
.viewsIcon{background-position:-85px -64px;transform:scale(.5);width:33px;height:22px;margin-top:0}
.enquiryIcon{background-position:-43px -63px;transform:scale(.5);width:36px;height:31px}
.fw{font-weight: bold;}.fw500{font-weight: 500;}
.pd1_0{padding: 2px 0 1px 0;}.pdt4{padding-top: 4px;} .pdb4{padding-bottom: 4px;}.pd6_0{padding: 6px 0;}
.ctIco:before,.wh15{width:15px;height:15px}
.truncateH{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.cLocIco{background-position:-170px 1px;margin-bottom:-1px}
.ctIco:before{content:"";position:absolute;top:0;left:0;
    background-image:url(https://m.imimg.com/gifs/img/mcat_sprite_v5.png);background-repeat:no-repeat;
    background-position:-111px -9px;margin:0 5px 0 0}
.divScroll {overflow: auto;} .sellRate2{ height:48%; top:10%; width:86%; left:7% } .z99999rate{ z-index: 99999; } .bg699{background:#00a699} .w86{ width:86% } .bg0aa{ background-color: #0aaa9d } .selectTextIndex{ z-index: 999991; } .bgF5F5F5{ background-color:  #F5F5F5; } .mnht55{ min-height: 55px; } .rvwBox1{ height: 50px; border: solid 1px #e7e7e7; background-color: #f8f8f8; } .rszn{resize: none;} .bt0 { bottom: 0; } .crx:after { content: ""; visibility: hidden; display: block; height: 0; } .pdr20{padding-right: 20px;} .lh22 {line-height: 22px;} .z99999rate {z-index: 99999;} .zIn {z-index: 99;} .truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } .pr { position: relative; }