.rp1:before,.rpBlueIcon:before{content:"";position:absolute;width:15px;height:15px;background-repeat:no-repeat}
.rp1:before{top:0;left:0;background-image:url("https://m.imimg.com/gifs/img/mcat_sprite_v5.png");
    background-position:-64px -42px;margin:0 5px 0 0}