.fs11{font-size:11px}.pdt4{padding-top:4px}.fwb{font-weight:700}
.bxrd4{border-radius:4px}.vam{vertical-align:middle}
.relatedimg{width:110px;height:110px}.ht180{height:180px}.relatedimg70{width:70px;height:70px}
.clr5a{color:#5a5a5b}.lh16{line-height:16px}.fw600{font-weight: 600;}
.tc{text-align:center}.fs15{font-size:15px}.clrg{color: #096259}
.lineClamp{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
.whNr{white-space:normal}.lh1_3em{line-height:1.3em}.ht120{height:120px}
.vat{vertical-align:top}.mr8{margin-right:8px}.pd40{padding: 4px 0;}
.widgetBorder{border:1px solid #247F79;box-shadow:1px 1px 8px 0 #e3e3ee;width: 85px;border-radius:6px;padding:4px 4px 0}
.scWrap{overflow-x:scroll;overflow-y:hidden;white-space:nowrap}.scWrap::-webkit-scrollbar{display:none}