
/* Also deals in css */
.top_indus1{overflow-x:scroll;overflow-y:hidden;white-space:nowrap;position:relative;overflow-y:hidden;width:100%;transform:translateZ(0);-webkit-transform:translateZ(0);-ms-transform:translateZ(0)}
.top_indus1 ul{width:322px}
.top_indus1 ul li{width:48%;height:126px;text-align:center;border-right:1px solid rgba(204,204,204,.5);display:inline-table}
.ht125px{height:125px}.w125p{width:125px}
/* Also deals in css ends */
