  .cat1 {
    background-position: -9px -366px;
  }
  
  .cat2 {
    background-position: 79px -366px;
  }
  
  .cat3 {
    background-position: 169px -367px;
  }
  
  .cat6 {
    background-position: 124px -408px;
  }