
.z101.voice_lang{z-index:101}
.voice_lang{top:50%;left:50%;transform:translate(-50%,-50%);width:300px;padding:20px 10px 10px;z-index:11}
#selectLang{z-index:99999!important}
.mbg{background:rgba(51,51,51,.96)}
.lang_choc{overflow-y:scroll;height:70vh}
.cl87{color:#878787}
#vSrhMain{z-index:10000!important}
.mn30vh{min-height:30vh}
.bg1e{background-color:#1eb7c5}
.vSrCrs{top:10px;right:10px}
.wave{fill:#1eb7c5}
svg.waveSvg{transform:rotate(180deg);bottom:-10vh;left:0;z-index:-1}
#wave2{opacity:.6}
#wave3{opacity:.3}
.waveAni .wave{animation:wave 1s linear;animation-iteration-count:infinite}
.waveAni #wave2{animation-duration:3s;animation-direction:reverse}
.waveAni #wave3{animation-duration:5s}
@keyframes wave{to{transform:translateX(-100%)}}

.ht52{height:52px}
.alignY{top:50%;transform:translateY(-50%)}
.colBlu{color:#048f9c}
.fs20{font-size:20px}
.h45{height:48px}
.b25{bottom:25px}
.b80{bottom:80px}
.clr33{color:#333}