.test {
    padding-left: 15px;
    padding-top: 10px;
    background-color: #FFFFFF;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  h2 {
    /* border-bottom: 1px solid #cbcbcb; */
    padding-bottom: 7px;
    margin-right: 15px;
  }
  .wrapper {
    background-color: #efefef;
  }
  li {
    margin-top: 2px;
    margin-bottom: 2px;
    list-style-type: disc;
  }