.err_txt_1{color:#eb8209;font-size:22px}
.err_txt_2{color:grey}.pdt30{padding-top:30px}
.mt5{margin-top:5px}.fwn{font-weight:400}
.clr33{color:#333}.bxrd4{border-radius:4px}
.bdrBed{border-bottom:1px solid #ededed}
.clr11{color:#111}
.ht125px{height: 125px;}.w125p{width: 125px;}
.pdl130{padding-left: 130px;}